body{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
div{
    
    display: flex;
    flex-direction: column;
    margin: 15px;;
    width: 15%;
    height: 100px;
    align-items:center;
    justify-content: space-around;
    border: solid gray;
}
.longitud{
    grid-row-start: 1;
    grid-column-start: 2;
}
.masa{
    grid-row-start: 2;
    grid-column-start: 2;
}
.Energia{
    grid-row-start: 3;
    grid-column-start: 2;
}
.velocidad{
    grid-row-start: 4;
    grid-column-start: 2;
}
